@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.testimonials {
    margin: 0 0 8rem;

    @include device-up(lg) {
        margin: 0 0 18rem;
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }

    h2 {
        text-align: center;

        @include device-up(lg) {
            text-align: initial;
        }
    }

    &-list {
        display: grid;
        gap: 2rem;

        @include device-up(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        &_item {
            background-color: $lightBlack;
            padding: 3rem;
            border-radius: 2rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: 3rem;
                margin: 0 0 2rem;

                @include device-up(lg) {
                    flex-direction: row;
                    justify-content: flex-start;
                    text-align: initial;
                }

                img {
                    width: 7.4rem;
                    height: 7.4rem;
                    border-radius: 50%;
                }

                h3 {
                    font-weight: 500;
                    line-height: normal;
                }

                span {
                    font-size: 1.4rem;
                    line-height: normal;
                }
            }

            .comment{
                text-align: center;
                @include device-up(lg){
                    text-align: initial;
                }
            }
        }
    }
}