@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.intro {
    margin: 0;

    &-container {
        @include device-up(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            height: 60rem;
        }
    }

    &-content {
        text-align: center;

        @include device-up(lg) {
            max-width: 56rem;
        }

        span {
            font-size: 1.4rem;
            text-transform: uppercase;
        }

        h1 {
            @include gradient-color;
            font-size: 6.4rem;
            font-weight: 500;
            margin: 1rem auto 2rem;
            max-width: 50rem;
        }
    }

    &-object3d {
        height: 30rem;

        @include device-up(lg) {
            height: 100%;
        }
    }

}